<!--<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> User Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Username</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef>Last name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>-->

<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'">

<mat-toolbar-row class="mat-toolbar  mat-toolbar-single-row">
    <span>Users</span>
    <span class="example-spacer"></span>
    <button mat-icon-button >
      <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
    </button>
  </mat-toolbar-row>

      <ngx-datatable id="myId" [rows]="rows" class="material"
      [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [reorderable]="reorderable"
        >
       <ngx-datatable-column name="Id"></ngx-datatable-column>
       <ngx-datatable-column name="Username"></ngx-datatable-column>
       <ngx-datatable-column name="First name" prop="firstname"></ngx-datatable-column>
       <ngx-datatable-column name="Last name" prop="lastname"></ngx-datatable-column>
       <ngx-datatable-column name="Age" prop="age"></ngx-datatable-column>
       <!--<ngx-datatable-column name="Action">
         <ng-template let-column="column" ngx-datatable-header-template>
            actions
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voicemail</span>
              </button>
              <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
              </button>
          </mat-menu>
        </ng-template>

      </ngx-datatable-column>-->
      </ngx-datatable>
</div>
